.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 20px;
  border: 1px solid $clLightGrey;
  border-radius: 3px;
  font-size: 15px;
  color: $clGrey;

  &:hover {
    background: $clGrey;
    color: #fff;
  }

  &--big {
    font-size: 17px;
    padding: 16px 36px;
  }
  &--small {
    font-size: 11px;
    padding: 5px 16px;
  }
  &--green {
    background: $clGreen;
    border-color: $clGreen;
    color: #fff;

    &:hover {
      background: darken($color: $clGreen, $amount: 5%);
      border-color: darken($color: $clGreen, $amount: 5%);
    }
  }
  &--grey {
    background: $clLightGrey;
  }
  @include respond-to("mobile") {
    font-size: 14px;
    padding: 5px 15px;
  }
}