.slider {
  .slider__slide {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
  }
  &__title {
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    display: inline-block;
    background: rgba($clBlue, 0.8);
    padding: 10px;
    border-radius: 10px;
    @include respond-to("mobile-wide") {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background: $clBlue;
    border: 1px solid #fff;
  }
  .swiper-button-prev {
    width: 100px;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(0,21,33,0) 100%);
  }
  .swiper-button-next {
    width: 100px;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(270deg, rgba(36,36,36,1) 0%, rgba(0,21,33,0) 100%);
  }
}