#root {
  height: 100%;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}

.menuOpened {
  overflow-y: hidden;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}