#root {
  height: 100%;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}

.menuOpened {
  overflow-y: hidden;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.section {
  &--padding {
    padding: 40px 0;
  }
}
.pagination {
  padding: 40px 0 0;
  display: flex;
  justify-content: center;
  .MuiPaginationItem-root {
    color: #fff;
    &.Mui-selected {
      background: rgba(255,255,255,0.3);
    }
  }
  .MuiButtonBase-root {
    &:hover {
      background: rgba(255,255,255,0.3);
    }
  }
}